@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    scroll-behavior: smooth;
}

body{
     font-family: "Inter", sans-serif;
}


nav a{
    transition: 0.25s ease;
}

#transition{
    transition: 0.25s ease;
}

.a-white{
    color: white;
}
.playfair{
     font-family: "Playfair Display", serif;

}

.transition{
    transition: 0.25s ease;
}

#title-nav{
    font-family: "Playfair Display", serif;
}

#zalando{
     font-family: "Zalando Sans SemiExpanded", sans-serif;
}

#title-tron{
    font-family: "Cormorant", sans-serif;
}

#bg-video{
    position: absolute;
    z-index: -1;
}

#bg-color-vid{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.515);
    height: 100vh;
    width: 
    100%;
}

#sponsor-list{
    margin-top: 10px;
}

.line{
    background-color: orange;
    width: 200px;
    height: 2px;
    margin-bottom: 10px;
    color: transparent;
}